@model Blog.Models.ApplicationUser

@{
    ViewBag.Title = "Delete User";
}

<div class="content">
    <div class="inner">
        @using (Html.BeginForm("Delete", "User", FormMethod.Post, new { @class = "compact" }))
        {
            <h3>@ViewBag.Title</h3>
            <p class="input">
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { @readonly = "readonly" })
            </p>
            <p class="input">
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName, new { @readonly = "readonly" })
            </p>
            <div class="buttons">
                    @Html.ActionLink("Cancel", "List", "User", null, new { @class = "button" })
                    <input type="submit" value="Delete" class="button" />
            </div>
        }

    </div>
</div>