@model Blog.Models.EditUserViewModel

@{
    ViewBag.Title = "Edit User";
}

<div class="content">
    <div class="inner">
        @using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "compact" }))
        {
            @Html.ValidationSummary()
            @Html.AntiForgeryToken()
            <h3>@ViewBag.Title</h3>
            <p class="input">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </P>

            <p class="input">
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName)
            </p>

            <p class="input">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password)
            </p>

            <p class="input">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.TextBoxFor(m => m.ConfirmPassword)
            </p>

            <p class="input">
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    <p>
                        @Html.HiddenFor(m => m.Roles[i].Name)
                        @Html.CheckBoxFor(m => m.Roles[i].IsSelected)
                        @Model.Roles[i].Name
                    </p>
                }
            </p>

            <div class="buttons">
                <input type="submit" value="Edit" class="button" />
            </div>
        }
    </div>
</div>

