@model List<Blog.Models.Category>

@{
    ViewBag.Title = "List All Categories";
}

<div class="content">
    <div class="inner">
        <div class="categories-create">
            <h2>@ViewBag.Title</h2>

            <div class="buttons top-button">
                @Html.ActionLink("Create", "Create", "Category", new { @class = "button" })
            </div>

            <div class="row">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var category in Model)
                        {
                            <tr>
                                <td>@category.id</td>
                                <td>@category.Name</td>
                                <td>
                                    <div class="buttons">
                                        @Html.ActionLink("Edit", "Edit", "Category", new { @id = category.id }, new { @class = "button"})
                                        @Html.ActionLink("Delete", "Delete", "Category", new { @id = category.id }, new { @class = "button" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>