@model List<Blog.Models.Article>

@{
    ViewBag.Title = "List Articles By Tag";
}
<h2>@ViewBag.Title</h2>
<div class="content">
    <div class="inner">        
        @foreach (var article in Model)
        {
            <div class="wrapper">
                <article>
                    <header>
                        <h2>
                            @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id }, null)
                        </h2>
                    </header>
                    <p>
                        @article.Content
                    </p>
                    <footer>
                        <ul class="tags">
                            @foreach (var tag in article.Tags)
                            {
                                <li>
                                    @Html.ActionLink(tag.Name, "ListArticlesByTag", "Tag", new { @id = tag.Id }, new { @class = "tag tag-article" })
                                </li>
                            }
                        </ul>
                        <small class="small">
                            --author @article.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>