@model Blog.Models.RecipeViewModel

@{
    ViewBag.Title = "Create";
}

<div class="container">
    <div class="well">
        <h2>Create Recipe</h2>
        @using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("")

            <h3>Create Recipe</h3>
			<p class="input">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </p>
            <p class="input">
                @Html.LabelFor(m => m.Ingredients)
                @Html.TextBoxFor(m => m.Ingredients)
            </p>
            <p class="input">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @rows = "7" })
            </p>

            <p class="input">
                @Html.LabelFor(m => m.RecipeCategoryId)
                @Html.DropDownListFor(m => m.RecipeCategoryId,
                new SelectList(Model.RecipeCategories, "Id", "Name"), new { @class="button"})                
            </p>

            <p class="input">
                @Html.Label("Image", new { @class = "control-label col-md-2" })
                    <input type="file" id="search-box" name="upload" />
            </p>

            <p class="input">
                @Html.LabelFor(m => m.RecipeTags)
                @Html.TextBoxFor(m => m.RecipeTags)
            </p>
            <p class="buttons">
                    @Html.ActionLink("Cancel", "Index", "Recipe", null, new { @class = "button" })
                    <input type="submit" value="Create" class="button" />
            </p>
        }
    </div>
</div>