@model Blog.Models.Recipe
@{
    ViewBag.Title = "Details";
}
<div class="content">
    <div class="inner">
        <div class="article-wrapper">
            <article>
                <small class="author">
                    <span>by</span> @Model.Author.FullName
                </small>
                <h2>
                    @Model.Title
                </h2>
                <a class="fancybox" rel="group" href="~/Content/Images/Recipes/Thanksgiving-009.jpg"><img src="~/Content/Images/Recipes/Thanksgiving-009.jpg" /><span></span></a>
                <a class="fancybox" rel="group" href="~/Content/Images/Recipes/Thanksgiving-007.jpg"><img src="~/Content/Images/Recipes/Thanksgiving-007.jpg" /><span></span></a>
                <h3>Ingredients</h3>
                <ul class="ingredients">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <li>@ingredient.Name</li>
                    }
                </ul>
                <h3>Instructions</h3>
                <p>
                    @Model.Content
                </p>
                <ul class="tags">
                    @foreach (var tag in Model.RecipeTags)
                    {
                        <li>@Html.ActionLink(tag.Name, "ListArticlesByTag", "RecipeTag", new { @id = tag.Id }, new { @class = "tag-article tag" })</li>
                    }
                </ul>
                <footer class="pull-right">
                    @if (User.IsInRole("Admin") || Model.IsAuthor(User.Identity.Name))
            {
                        @Html.ActionLink("Edit", "Edit", "Recipe", new { @id = Model.Id }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Delete", "Delete", "Recipe", new { @id = Model.Id }, new { @class = "btn btn-danger btn-xs" })
                    }
                    @Html.ActionLink("Back", "Index", "Recipe", null, new { @class = "btn btn-default btn-xs" })
                </footer>
            </article>
        </div>
    </div>
</div>
