@model List<Blog.Models.Recipe>

@{
    ViewBag.Title = "List";
}

<div class="content">
    <div class="inner">
        @foreach (var recipe in Model)
        {
            <div class="wrapper">
                <article>
                    <a href="@Url.Action("Details", "Recipe")" title="@recipe.Title" class="fancybox">
                        <img alt="@recipe.Title" src="@Url.Content("../Content/Images/Recipes/Thanksgiving-009.jpg")">
                    </a>
                    <h2>
                        @Html.ActionLink(@recipe.Title, "Details", "Recipe", new { @id = recipe.Id }, null)
                    </h2>
                    <p>
                        @recipe.Content
                    </p>
                    <footer>
                        <div class="pull-left">
                            @foreach (var tag in recipe.RecipeTags)
                            {
                                @Html.ActionLink(tag.Name, "ListRecipesByTag", "Tag", new { @id = tag.Id }, new { @class = "btn btn-default btn-xs" })
                            }
                        </div>
                        <small class="author pull-right">
                            --author @recipe.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>