@model List<Blog.Models.Recipe>

@{
    ViewBag.Title = "List";
}

<div class="content">
    <div class="inner">
        @foreach (var recipe in Model)
        {
            <div class="wrapper">
                <article>
                    <a href="@Url.Action("Details", "Recipe", new { @id = recipe.Id })" title="@recipe.Title" class="fancybox">

                        @if (recipe.ImagePath != null)
                        {
                            <div>
                                <img src="@recipe.ImagePath" alt="avatar" />
                            </div>
                        }
                    </a>
                    <h2>
                        @Html.ActionLink(@recipe.Title, "Details", "Recipe", new { @id = recipe.Id }, null)
                    </h2>
                    <p>
                        @recipe.Content
                    </p>
                    <footer>
                        <ul class="tags">
                            @foreach (var tag in recipe.RecipeTags)
                            {
                                <li>@Html.ActionLink(tag.Name, "ListRecipesByTag", "Tag", new { @id = tag.Id }, new { @class = "tag-article tag" })</li>
                            }
                        </ul>
                        <small class="small">
                            --author @recipe.Author.FullName
                        </small>
                    </footer>
                </article>
            </div>
        }
    </div>
</div>