@model Blog.Models.ArticleViewModel

@{
    ViewBag.Title = "Edit Article";
}

<div class="content">
    <div class="inner">
        @using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { @class = "compact" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.AuthorId)

            <h3>@ViewBag.Title</h3>

            <p class="input">
                @Html.LabelFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
            </p>

            <p class="input">
                @Html.LabelFor(m => m.Content)
                @Html.TextAreaFor(m => m.Content, new { @rows = "7" })
            </p>

            <p class="input">
                @Html.LabelFor(m => m.CategoryId)
                @Html.DropDownListFor(m => m.CategoryId,
                        new SelectList(Model.Categories, "Id", "Name", Model.CategoryId),
                        new { @class = "button" })
            </p>
            
            <p class="input">
                @Html.LabelFor(m => m.Tags)
                @Html.TextBoxFor(m => m.Tags)
            </p>

            <div class="buttons">
                @Html.ActionLink("Cancel", "Index", "Article", null, new { @class = "button" })
                <input type="submit" value="Edit" class="button" />
            </div>
        }
    </div>
</div>